<% include header %>


<p>Name: <%- user.displayName %></p>
<p>ID: <%- user.id %></p>
<p>Profile: <a href=" <%-user.profileUrl%>"><%- user.profileUrl %></a></p>
<p><%- JSON.stringify(user) %></p>

<div id="playlist"></div>
<% include footer %>